uorb start

param load
param set SYS_AUTOSTART 4001
param set MAV_BROADCAST 1
param set MAV_TYPE 2

df_mpu9250_wrapper start -R 10

df_ms5611_wrapper start

df_hmc5883_wrapper start -D /dev/i2c-1

gps start -d /dev/ttyUSB0 -i uart -p ubx

sensors start

commander start

navigator start

attitude_estimator_q start

position_estimator_inav start

land_detector start multicopter

mc_pos_control start

mc_att_control start

mavlink start -r 800000 -b 115200 -d /dev/ttyUSB0 -m config

extctl start

hil start

linux_pwm_out start -p uorb

ioboard start -d /dev/ttyUSB1 -s 115200

#sdlog2 start -r 100 -a -b 9 -t
#logger start -t -b 200

mavlink boot_complete